ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: purple;
    color: white;
}

.active {
    background-color: white;
}

.header{
    font-size:20px;
    padding-left:30px
}

.header:hover{
    background-color: white;
}